<nav class="navbar navbar-expand-lg navbar-light fixed-top fixed-top navbar-ccim">
    <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column justify-content-between px-0" id="navbarNav">
            <ul class="navbar-nav mx-auto nav-item-ccim">
                <li class="nav-item me-4">
                    <a routerLink="/vInicio" routerLinkActive="active-link" class="nav-link">Inicio / Inizio</a>
                </li>
                <li class="nav-item me-4">
                    <a routerLink="/vOportunidades" routerLinkActive="active-link" class="nav-link">Oportunidades / Opportunità </a>
                </li>
                <li class="nav-item me-4">
                    <a routerLink="/vServicios" routerLinkActive="active-link" class="nav-link">Servicios / Servizi </a>
                </li>
                <li class="nav-item me-4">
                    <a routerLink="/vNovedades" routerLinkActive="active-link" class="nav-link">Novedades / Novità </a>
                </li>
                <li class="nav-item me-4">
                    <a routerLink="/vTurismo" routerLinkActive="active-link" class="nav-link">Argentina & Italia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Altro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>