<nav class="navbar navbar-expand-lg navbar-light navbar-ccim">

    <div class="collapse  navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto nav-item-ccim">
            <li class="nav-item active ">
                <a class="nav-link" href="#">Inicio /<br> Inizio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Oportunidades /<br>Opportunità </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Servicios /<br>Servizi </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Novedades /<br>Novità </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Argentina &<br>Italia </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Altro</a>
            </li>
        </ul>

    </div>