<div class="container-outer-00">
    <div class="text-container-00">
        <h1>Su empresa en todos los continentes</h1>
        <h4>Hablamos italiano en 58 idiomas</h4>
    </div>
</div>


<div class="container-outer-01">
    <div class="content-container-01">
        <div class="image-container-01">
            <div class="image-wrapper-01">
                <img src="/assets/italy_coliseum.webp" alt="Coliseo">
            </div>
            <div class="image-wrapper-01">
                <img src="/assets/mendoza_vineyards.webp" alt="Viñedos">
            </div>
        </div>

        <div class="text-container-01">
            <div class="logo-01">
                <img src="/assets/cci_logo.webp" alt="CCI Logo">
            </div>
            <p>La importancia de pertenecer al ecosistema internacional de empresas que ofrece la Cámara de Comercio
                Italiana.</p>
        </div>
    </div>

    <div class="overlay-container-01">
        <div class="overlay-container-inner-01">
            <div class="overlay-text-container-inner-01">
                <p><strong>INNOVACIÓN:</strong><br>ACTUALIZAR PROCESOS Y MODELOS DE NEGOCIOS</p>
                <p><strong>RE-INTEGRACIÓN:</strong><br>RENOVAR Y FORTALECER LAS REDES DE NEGOCIOS Y SOCIALES POST-PANDEMIA</p>
                <p><strong>DIGITALIZACIÓN:</strong><br>APROVECHAR LOS DESAFÍOS DE LA DISRUPTIVA DIGITAL</p>
                <p><strong>OPTIMIZACIÓN:</strong><br>GENERAR NEGOCIOS SOSTENIBLES OPTIMIZANDO EL USO DE LOS RECURSOS Y TENIENDO EN CUENTA SU IMPACTO AMBIENTAL Y SOCIAL</p>
            </div>
        </div>
    </div>
</div>

        <!--
            [center]="center"
            [zoom]="zoom" 
        -->
            
<google-map height="450px"
            width="1000px"

            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>

<div class="container-video-00">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/lQDg7yS0_ow" title="Video CCIE Assocamerestero"
        frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>

<div class="container-video-01">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/JiBPB0UE0iw"
        title="Video Camere di Commercio Italiane all'Estero" frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>