<hr>
<div class="title-div">
    <h1>Servicios</h1>
</div>

<div class="text-div">
    <p>"Un cliente es el visitante más importante de nuestras instalaciones. No depende de nosotros. Dependemos de él.
        No es una interrupción de nuestro trabajo. Él es el propósito de esto. No es un extraño a nuestro negocio. El es
        parte de eso. No le estamos haciendo un favor sirviéndole. Nos está haciendo un favor al darnos la oportunidad
        de hacerlo."
        <br>- Mahatma Gandhi
    </p>
    <p>Nuestro servicio y soporte al cliente está impulsado por estas mismas palabras de Mahatma Gandhi que pronunció en
        su discurso en Sudáfrica en el año 1890. Como organización, estamos completamente comprometidos a brindar el
        mejor servicio posible en cada punto a todos nuestros clientes. Es nuestro compromiso sincero que no solo
        queremos cumplir, sino superar con creces las expectativas de nuestros clientes en lo que respecta al servicio y
        soporte al cliente.
        Nuestros colaboradores están bien capacitados para manejar de manera eficiente todas las situaciones, de modo
        que puedan resolver rápidamente los problemas que enfrentan nuestros clientes. También contamos con un sistema
        de seguimiento muy eficiente para que cada solicitud se registre correctamente en nuestro sistema para
        garantizar que todas se resuelvan adecuadamente para la máxima satisfacción de nuestros clientes.</p>
</div>
<div class="btn-div">
    <button type="button" class="btn btn-outline-secondary" (click)="redirectToPdf()">CARTILLA DE SERVICIOS</button>
</div>