<hr>
<div class="title-div">
    <h1>Novedades</h1>
</div>

<div class="container-modify text-center">
    <div class="row align-items-start">
        <div class="col text-div">
            <div class="subtitle-div">
                <h2>La Cámara de Comercio Italiana de Mendoza convocó a la exitosa feria virtual Metal District Matching
                    2022. </h2>
                <h6>Lunes, 28 de junio de 2022</h6>
            </div>
            <p>Metal District Matching 2022, organizado por la Cámara de Comercio de Como-Lecco, junto con otras
                instituciones de la Región Lombardía (Italia), tuvo lugar de forma virtual entre el 13 al 17 de junio
                pasados. Se trató de una experiencia novedosa en el marco de la feria Fornitore Offresi, especializada
                en metales y metalmecánica, la cual tiene lugar en Erba, Lombardia desde hace más de quince años. </p>
        </div>
        <div class="col text-div">
            <p>Las áreas específicas que cubrió esta feria virtual en torno al sector metalífero fueron las siguientes:
                <br>
                - Metal working & automotive<br>
                - Manufacturing methods<br>
                - Products and components<br>
                - Materia & semi- finished products<br>
                - Tools & fixtures - custom-made<br>
                - Organisations & services<br>
            </p>
            <div class="image-gear">
                <img src="/assets/images/gear.webp" alt="Gear Image">
            </div>
        </div>
        <div class="col text-div">
            <p>La relevancia de este encuentro estuvo dada por el hecho de que las empresas mendocinas y de la región
                Cuyo en general, tuvieron la oportunidad de ingresar en un encuentro de negocios de alto nivel de forma
                gratuita, concentrado particularmente en la densa red de empresas de todo tipo presentes en las regiones
                industriales del norte de Italia. Participaron del mismo casi cuatrocientas empresas de todo el mundo,
                entre las cuales más de trescientas cincuenta de origen italiano. En este marco, numerosas empresas
                locales se contactaron con la Cámara de Comercio Italiana a fin de explorar nuevas oportunidades de
                negocios, en un área conectada directamente con sectores estratégicos para Cuyo, tales como la
                agroindustria y la minería.</p>
        </div>
    </div>
</div>

<div class="title-div-stay-export">
    <h3>Stay Export </h3>
</div>

<div class="container-modify text-div">
    <div class="subtitle-div">
        <h6>Miércoles, 8 de junio de 2022</h6>
    </div>
    <p>El proyecto Stay Export, promovido por Assocamerestero y con la orientación de la Fondazione per la Sostenibilità
        Digitale, se centró en la realización de un Atlas de la Sostenibilidad Digital, el cual representa un salto
        cualitativo en cuanto a la recolección y procesamiento de información valiosa para tomar decisiones económicas
        en función de la sostenibilidad y la digitalización como fenómenos emergentes. Desde el peso de la economía
        circular en nuestro país a la participación femenina en las profesiones TIC, pasando por la realidad de start
        ups dedicadas a la sostenibilidad en Argentina, la CCI de Mendoza ha conseguido recabar información en múltiples
        áreas vinculadas con el desarrollo socioeconómico y las perspectivas de crecimiento futuras del país.</p>
</div>


<div class="container-modify text-center">
    <div class="row align-items-start">
        <div class="col text-div">
            <div class="image-stay_export_logo">
                <img src="/assets/images/stay_export_logo.webp" alt="Gear Image">
            </div>
        </div>
        <div class="col text-div">
            <div class="subtitle-div">
                <h2>Nuestra Contribución</h2>
            </div>
            <p>La relevancia de este encuentro estuvo dada por el hecho de que las empresas mendocinas y de la región
                Cuyo en general, tuvieron la oportunidad de ingresar en un encuentro de negocios de alto nivel de forma
                gratuita, concentrado particularmente en la densa red de empresas de todo tipo presentes en las regiones
                industriales del norte de Italia. Participaron del mismo casi cuatrocientas empresas de todo el mundo,
                entre las cuales más de trescientas cincuenta de origen italiano. En este marco, numerosas empresas
                locales se contactaron con la Cámara de Comercio Italiana a fin de explorar nuevas oportunidades de
                negocios, en un área conectada directamente con sectores estratégicos para Cuyo, tales como la
                agroindustria y la minería.</p>
        </div>
    </div>
</div>