<footer>
    <div class="footer-container">
        <div class="footer-left">
            <h3>Sobre Nosotros</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel urna a metus fringilla congue.</p>
        </div>
        <div class="footer-center">
            <h3>Contacto</h3>
            <p>Email: info@ccimendoza.com</p>
            <p>Teléfono: +59-261-4298771</p>
            <p>Dirección: Cnel Rodríguez 1195, Mendoza, Argentina</p>
        </div>
        <div class="footer-right">
            <h3>Síguenos</h3>
            <a href="https://x.com/mendoza_cci" target="_blank">Twitter</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
            <a href="https://www.instagram.com/cci.mendoza/" target="_blank">Linkedin</a>
        </div>
        <div class="footer-contact-form">
            <h3>Envíanos un Mensaje</h3>
            <form action="/enviar-mensaje" method="post">
                <input type="email" name="email" placeholder="Tu Correo" required>
                <input type="tel" name="telefono" placeholder="Tu Teléfono" required>
                <textarea name="mensaje" placeholder="Tu Mensaje" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Camara de Comercio Italiana de Mendoza. Todos los derechos reservados.</p>
    </div>
</footer>
