/* Default style for small screens */
.router-outlet-container {
    margin-top: 56px; 
    padding: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    color:#00003d;
}

/* For medium screens */
@media (min-width: 992px) {
  .router-outlet-container {
    margin-top: 104px;
  }
}

/* For large screens */
@media (min-width: 1358px) {
  .router-outlet-container {
    margin-top: 68px;
  }
}